body {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
}

h5 {
    text-decoration: underline;
}

input[type="radio"] {
    margin: 0 35px 0 5px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FAFAC8;
}

.table {
    margin-bottom: 10px;
}

.iconButton {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

button .glyphicon {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

.editRow {
    width: 15px;
}