<% include ../partials/header %>

<div class="container">

    <h1>Usury Rate Management</h1>
    <hr>
    <div>
        <div class="row">
            <div class="form-inline col-lg-4">
                <label for="states" name="state">State: </label>
                <select class="form-control" name="states">
                    <% states.forEach(function(state){ %>
                        <option value= <%= state.abbreviation %>><%= state.state %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-inline col-lg-4">
                <label for="lineOfBusiness" name="lineOfBusiness">Line of Business: </label>
                <select class="form-control" name="states">
                <% linesOfBusiness.forEach(function(line){ %>
                <option value= <%= line.alsoKnownAs %>><%= line.lineOfBusiness %></option>
                <% }) %>
                </select>
            </div>
            <div class="form-inline col-lg-4">
                <label for="consumerThreshold">Consumer Threshold: </label>
                <input class="form-control" id="consumerThreshold" type="text" name="consumerThreshold" required>
            </div>
        </div>
        <div class="row">
            <h3>Interest Rate Limits</h3>
            <div id="rateTable"></div>
            <div><button type="button" class="btn iconButton" data-toggle="modal" data-target="#newModal"><span class="glyphicon glyphicon-plus"></span></button></div>
        </div>

        <div class="row">
            <h3>Late Fee Limits</h3>
            <div class="col-sm-8"><h5>Loan-Based Thresholds</h5></div>
            <div class="form-inline col-sm-4">
                <label for="loanThresholdLogic">Loan Threshold Logic: </label>
                <input class="form-control" id="loanThresholdLogic" type="text" name="loanThresholdLogic" required>
            </div>

            <div id="feeLimitLoanTable"></div>
            <div>
                <div><span class="glyphicon glyphicon-plus"></span></div>
            </div>
            <div class="col-sm-8"><h5>Payment-Specific Thresholds</h5></div>
            <div class="form-inline col-sm-4">
                <label for="paymentThresholdLogic">Payment Threshold Logic: </label>
                <input class="form-control" id="paymentThresholdLogic" type="text" name="paymentThresholdLogic" required>
            </div>
            <div id="feeLimitPaymentTable"></div>
            <div><span class="glyphicon glyphicon-plus"></span></div>
        </div>
    </div>

</div> <!-- container -->

<% include ../partials/footer %>